<div>
    <h1>Restablecer contraseña</h1>

    <div>
        <label>Nueva contraseña:</label>
        <input type="password" [(ngModel)]="newPassword" required>
    </div>
    <br>
    <div>
        <label>Confirmar nueva contraseña:</label>
        <input type="password" [(ngModel)]="confirmPassword" required>
    </div>
    <br>
    <button (click)="resetPassword()">Restablecer</button>
    <br>
    <span style="color: red">{{error}}</span>
    <span style="color: green">{{message}}</span>
</div>
