<div class="reset-password-container">
    <div class="reset-password-form">
        <h1>Restablecer contraseña</h1>
        <div class="input-group">
            <label for="newPassword">Nueva contraseña:</label>
            <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword" class="input-field" [(ngModel)]="newPassword" required minlength="7">
            <span class="toggle-password" (click)="toggleNewPasswordVisibility()">
                <mat-icon>{{ showNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </span>
        </div>
        <div class="input-group">
            <label for="confirmPassword">Confirmar nueva contraseña:</label>
            <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" class="input-field" [(ngModel)]="confirmPassword" required minlength="7">
            <span class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
                <mat-icon>{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </span>
        </div>
        <button class="button-field" (click)="resetPassword()">Restablecer</button>
        <div class="error-message" *ngIf="error">{{error}}</div>
        <div class="success-message" *ngIf="message">{{message}}</div>
    </div>
</div>
