<div class="ecuaciones-container">
    <div class="ecuaciones-form">
        <h1>Ecuaciones</h1>
        <div class="input-group">
            <label for="ecuacion">Ecuación:</label>
            <input type="text" id="ecuacion" class="input-field" [(ngModel)]="currentEquation.eq" title="ecuacion">
        </div>
        <div class="input-group">
            <label for="lambda">Lambda:</label>
            <input type="number" id="lambda" class="input-field" min="1" [(ngModel)]="currentEquation.lambda" title="lambda">
        </div>
        <button class="button-field" (click)="add()" [disabled]="!currentEquation.eq">Añadir</button>
        <ul *ngFor="let equation of equations" class="equation-list">
            <li class="equation-item">
                {{equation.eq}}, {{equation.lambda}}
                <span class="remove-link" (click)="remove(equation)">Eliminar</span>
            </li>
        </ul>
        <button class="button-field" (click)="generarHamiltoniano()">Generar Hamiltoniano</button>
        <button class="button-field" (click)="construirMatrizTriangular()">Construir Matriz Triangular</button>
        <button class="button-field" (click)="generarCodigo()">Generar Código DWave</button>
        <button class="button-field" (click)="ejecutarCodigo()" [disabled]="!codigoGenerado">Ejecutar Código DWave</button>
        
        <div *ngIf="resultadoHamiltoniano">
            <h2>Resultado del Hamiltoniano</h2>
            <pre>{{ resultadoHamiltoniano }}</pre>
        </div>
        
        <div *ngIf="matrizTriangular">
            <h2>Matriz Triangular</h2>
            <table>
                <tr *ngFor="let row of matrizTriangular">
                    <td *ngFor="let value of row">{{ value }}</td>
                </tr>
            </table>
        </div>
        
        <div *ngIf="resultadoEjecucion">
            <h2>Resultado de la Ejecución</h2>
            <pre>{{ resultadoEjecucion }}</pre>
        </div>
    </div>
</div>
