<!-- ecuaciones.component.html -->
<div class="ecuaciones-container">
    <div class="ecuaciones-form">
        <h1>Ecuaciones</h1>
        <div class="input-group">
            <label for="ecuacion">Ecuación:</label>
            <input type="text" id="ecuacion" class="input-field" [(ngModel)]="currentEquation.eq" title="ecuacion">
        </div>
        <div class="input-group">
            <label for="lambda">Lambda:</label>
            <input type="number" id="lambda" class="input-field" min="1" [(ngModel)]="currentEquation.lambda" title="lambda">
        </div>
        <button class="button-field" (click)="add()">Añadir</button>
        <ul *ngFor="let equation of equations" class="equation-list">
            <li class="equation-item">
                {{equation.eq}}, {{equation.lambda}}
                <span class="remove-link" (click)="remove(equation)">Eliminar</span>
            </li>
        </ul>
        <button class="button-field" (click)="generarHamiltoniano()">Generar Hamiltoniano</button>
        <button class="button-field" (click)="construirMatrizTriangular()">Construir Matriz Triangular</button>
        <button class="button-field" (click)="generarCodigo()">Generar Código DWave</button>
        <button class="button-field" (click)="ejecutarCodigo()">Ejecutar Código DWave</button>
    </div>

    <div *ngIf="respuesta">
        <h2>Respuesta</h2>
        <pre>{{ respuesta }}</pre>
    </div>
</div>
