<div class="forgot-password-container">
    <div class="forgot-password-form">
        <h1>Cambiar contraseña</h1>
        <div class="input-group">
            <label for="email">Correo:</label>
            <input type="email" id="email" class="input-field" [(ngModel)]="email" required maxlength="50">
        </div>
        <button class="button-field" (click)="requestPasswordReset()">Enviar</button>
        <button class="back-button" (click)="goBack()">Volver</button>
        <div class="error-message" *ngIf="error">{{error}}</div>
        <div class="success-message" *ngIf="message">{{message}}</div>
    </div>
</div>
