<div>
    <h1> Crear cuenta </h1>

    <div>
        <label>Correo:</label>
        <input type="email" title="email" [(ngModel)]="email" required>
    </div>
    <br>
    <div>
        <label>Contraseña:</label>
        <input type="password" title="pwd1" [(ngModel)]="pwd1" required>
    </div>
    <br>
    <div>
        <label>Repita la contraseña:</label>
        <input type="password" title="pwd2" [(ngModel)]="pwd2" required>
    </div>
    <br>
    <button (click)="registrar()"> Crear cuenta </button>
    <br>
    <span style="color: red">{{error}}</span>
</div>